<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    <div name = "mid-container">
      <center>
      <h1>Enter your city/state</h1> <br>
    <form method="post" action="/result">
        City <input type = "text" name ="city" size = "35"> <br> <br>
        State <input type="text" name="state" size="35"> <br> <br>
              <input type="submit" value="What's my fit?">
    </form>
    </center>
    </div>
      </body>
</html>
